<div style="display: flex;">
	<div id="cameron" style="flex: 1; text-align: center;">
		<img
			style="clip-path: circle(); object-fit: fill; max-height: 100px;"
			alt="Cameron Taylor"
			src="/assets/images/cameron.png"
		/>
		<a href="https://camerontaylor.dev" style="display: block;">Cameron Taylor</a>
	</div>
	<div id="hilary" style="flex: 1; text-align: center;">
		<img
			style="clip-path: circle(); object-fit: fill; max-height: 100px;"
			alt="Hilary Falco"
			src="/assets/images/hilary.png"
		/>
		<a href="https://www.linkedin.com/in/hilary-falco/" style="display: block;">Hilary Falco</a>
	</div>
</div>
